@base-em-color:                                 @global-color;
@base-small-font-size:                          80%;

@base-heading-font-family:                      @tm-font;
@base-heading-font-weight:                      normal;
@base-heading-color:                            @global-emphasis-color;
@base-heading-text-transform:                   none;

@base-selection-background:                     @global-primary-background;
@base-selection-color:                          @global-inverse-color;

// text
@inverse-text-primary-color:                   @global-primary-background;

/* ===================================================================================
    Base
==================================================================================== */
