/* =========================================================== 
    Header
=========================================================== */ 

#navbar {

    background: white;
    
    .uk-navbar-container {
        height: @navbar-nav-item-height;
    }
    
    &.uk-sticky-below {
        box-shadow: 1px 0 10px rgba(0, 0, 0, 0.1);
        background: white;
    }

}