@navbar-background:                             @global-muted-background;
@navbar-color-mode:                             none;

@navbar-nav-item-height:                        70px;
@navbar-nav-item-padding-horizontal:            20px;
@navbar-nav-item-color:                         @global-muted-color;
@navbar-nav-item-font-size:                     0.9rem;
@navbar-nav-item-font-family:                   @tm-font;
@navbar-nav-item-hover-color:                   @global-color;
@navbar-nav-item-onclick-color:                 @global-color;
@navbar-nav-item-active-color:                  @global-emphasis-color;

@navbar-item-color:                             @global-color;

//
// New
//

@navbar-nav-item-text-transform:                uppercase;

//  Dropdown
@navbar-dropdown-z-index:                       @global-z-index + 20;
@navbar-dropdown-width:                         220px;
@navbar-dropdown-margin:                        13px;
@navbar-dropdown-padding:                       25px;
@navbar-dropdown-background:                    @global-background;

@navbar-dropdown-nav-item-color:                @global-emphasis-color;
@navbar-dropdown-nav-item-hover-color:          @global-primary-background;
@navbar-dropdown-nav-item-active-color:         @global-primary-background;

/* ===================================================================================
    navbar
==================================================================================== */

.uk-navbar-dropdown {

    animation-duration: .3s !important;
    animation-name: uk-fade-bottom-small;
    top: @navbar-nav-item-height !important;

}
