//======================================================================
//  Utility
//======================================================================

/**
 *  add .tm-flex-reverse class to .uk-grid
 *  to reverse direction of child items
 */
.tm-flex-reverse {
    display: flex;
    flex-wrap: wrap-reverse;
}

//  Overlay
// ===========================================================

.tm-overlay {
    position:relative;
}

[class*='tm-overlay'] .uk-container {
    position:relative;
    z-index:9;
}

[class*='tm-overlay']:before {
    content: "";
    display:block;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: rgba(0 , 0 , 0 , 0.5);
    z-index:1;
}