/* =========================================================== 
        Mixins
=========================================================== */

/**
 *  Gradient Hover Mixin
 *  because gradients doesnt support css transitions...
 *  Great for buttons...
*/
.gradient-hover-mixin(@bg-dark, @bg-light, @direction: -90deg) {

    background: linear-gradient(@direction, @bg-light 0%,@bg-dark 50%,@bg-light 100%);
    background-size: 300%,1px;
    background-position: 0%;
    transition: all .5s;

    &:hover {
        background-position: 100%;
        transition: all .5s;
    }

}