@tm-mobile-header-height:       70px;
@tm-mobile-header-background:   #252525;
//======================================================================
//  Responsive
//======================================================================
#mobile-header {

    position:relative;
    height: @tm-mobile-header-height;
    line-height: @tm-mobile-header-height;
    background: @tm-mobile-header-background;

    img {
        max-height: 35px;
    }

    span.uk-icon.tm-close {
        display: none;
    }

    &.uk-open {
        span.uk-icon.tm-open {
            display: none;
        }
        span.uk-icon.tm-close {
            display: block;
        }
    }

    .uk-light();

}

#mobile-menu-drop {

    display:none;
    background: @tm-mobile-header-background;
    border-top: 1px solid lighten(@tm-mobile-header-background, 5%);

    .uk-light();

    &.uk-open {
        display:block;
    }

    .uk-nav > li > a {
        padding:10px 15px;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 600;
    }

    .uk-nav > li.uk-active > a {
        background:fade(white, 5%);
    }

    & > div {
        margin-top: 5px;
        padding:10px 15px;
        border-top: 1px solid lighten(@tm-mobile-header-background, 5%);
    }

    .uk-nav-sub > li.uk-active > a {
        color: @global-primary-background;
    }

}

/* Medium - Tablets
====================================================== */
@media (max-width: @breakpoint-medium) {


}

/* Small - Phones
====================================================== */
@media (max-width: @breakpoint-small) {


}
